{% if page.authors %}
<section class="infobox infobox--authors">
  <h2>
    About the author{% if page.authors[0].size > 1 %}s{% endif %}
  </h2>
  {% for author in page.authors %}
  {% assign au = site.data.authors[author] %}
  <article class="row">
    <div class="col col--1of6 col--group">
      <figure class="portrait">
        <img src="{{ site.BASE_PATH }}/media/team/{{ au[0].first_name | downcase }}.png" alt="Portrait of {{ au[0].full_name }}"/>
      </figure>
    </div>

    <div class="col col--5of6 col--group">
      <h3>{{ au[0].full_name }}</h3>
      <p>{{ au[0].short_bio }}</p>
      {% if au[0].contact %}
      <p class="infobox__links">
        <a href="{{ au[0].bio }}" target="_blank" rel="noopener">
          {% include svg/arrow-right.svg %}  About
        </a>
        <a href="{{ au[0].contact }}?subject=Community-Owned Infrastructure">
          {% include svg/mail.svg %}&nbsp;{{ au[0].contact | remove: "mailto:" }}
        </a>
        &bull;
      </p>
      {% endif %}
    </div>
  </article>
  {% endfor %}
</section>
{% endif %}
