{% if page.authors or page.author %}
<section class="infobox infobox--authors">
  <h2>
    About the author{% if page.authors.size > 1 %}s{% endif %}
  </h2>

  {% for author in page.authors %}
    {% assign author_slug = author | slugify %}
    {% for author in site.authors %}
      {% if author.slug == author_slug %}
      <article class="row">
        {% if author.pic %}
        <div class="col col--2of6 col--group">
          <figure class="portrait">
            <img src="{{ author.pic }}" alt="Portrait of {{ author.display_name }}"/>
          </figure>
        </div>
        {% endif %}

        <div class="col col--4of6 col--group">
          <h3>{{ author.display_name }}{% if author.affiliation %} ({{ author.affiliation }}){% endif %}</h3>
          {% if author.bio %}
            {{ author.bio }}
          {% endif %}
          {% if author.email or author.link_bio %}
          <p class="infobox__links">
            <a href="mailto:{{ author.email }}?subject=Journal Negotiation Community of Practice" class="label">
              {% include svg/mail.svg %}&nbsp;{{ author.email }}
            </a>
            {% if author.email and author.link_bio %}&bull;{% endif %}
            <a href="{{ author.link_bio }}" target="_blank" rel="noopener" class="label">
               &nbsp;About
            </a>
          </p>
          {% endif %}
        </div>
      </article>
      {% endif %}
    {% endfor %}
  {% endfor %}
</section>
{% endif %}
