<section class="cite{% if include.class %} {{ include.class }}{% endif %}"{% if include.id %} id="{{ include.id }}"{% endif %}>
  <h2 class="sr-only">Cite this</h2>

  <h3>APA</h3>

  <p>
    {% if page.authors %}
    {% for author in page.authors %}
      {% if forloop.last %}
        & {{ author }}.
      {% else %}
        {{ author }},
      {% endif %}
    {% endfor %}
    {% endif %}

    ({{ page.date | date: "%Y, %B %e" }}).

    {{ page.title }}.

    <em>
      {{ page.category | replace: '-',' ' | capitalize }}
    </em>,

    {% if page.doi %}
    https://doi.org/{{ page.doi }}
    {% else %}
    {{ site.BASE_PATH }}{{ page.url }}
    {% endif %}
  </p>

  <h3>MLA</h3>

  <p>
    {% if page.authors %}
    {% for author in page.authors limit:1 %}
      {{ author }}{% if page.authors.size > 1 %}, et al{% endif %}.
    {% endfor %}
    {% endif %}

    “{{ page.title }}.”

    <em>
      {{ page.category | replace: '-',' ' | capitalize }}
    </em>,

    {{ page.date | date: "%e %b. %Y" }},

    {% if page.doi %}
    https://doi.org/{{ page.doi }}
    {% else %}
    {{ site.BASE_PATH }}{{ page.url }}
    {% endif %}.
  </p>

  <h3>Chicago</h3>

  <p>
    {% if page.authors %}
    {% for author in page.authors %}
      {% if forloop.last %}
        and {{ author }}.
      {% else %}
        {{ author }},
      {% endif %}
    {% endfor %}
    {% endif %}

    {{ page.date | date: "%Y" }}.

    “{{ page.title }}.”

    <em>
      {{ page.category | replace: '-',' ' | capitalize }}
    </em>,

    {{ page.date | date: "%B %e" }}.

    {% if page.doi %}
    https://doi.org/{{ page.doi }}
    {% else %}
    {{ site.BASE_PATH }}{{ page.url }}
    {% endif %}
  </p>
</section>
