.homepage {
  padding: 2.5vw;
  background-color: $black;
  color: $white;
  @include font-sans;

  h2, h3, h4 {
    margin-top: 0;
  }

  a {
    color: $white;
    text-decoration: none;
  }

  ul, ol {
    @include unstyled-list;
  }

  section {
    margin-bottom: $spacing-05;
  }

  .button {
    margin-bottom: 0;
    border-color: $white;

    &:hover, &:active, &:focus {
      background-color: $white;
      color: $black;
    }
  }

  .tag a {
    padding: $spacing-03;
    background-color: $white;
    color: $black;
  }

  .logo {
    height: 30px;
    width: auto;
  }

  .logo path:first-child,
  .cc-icon path:last-child {
    fill: $white;
  }

  &__header {
    @include typescale-06;
  }

  &__header--bg {
    padding: $spacing-04;
    background: $red url('../../media/pattern-red.png') repeat;
    color: $white;

    h2 {
      @include font-serif;
    }
  }

  &__header--line {
    margin-bottom: $spacing-04;
    background: linear-gradient($black 0%, $black 49%, $white 50%, $white 51%, $black 52%, $black 100%);
    text-align: center;

    h2 {
      padding: 0 $spacing-03;
      display: inline-block;
      background: $black;
    }
  }

  &__group {
    margin-bottom: $spacing-05;
    flex-direction: row-reverse;
    width: 100%;
    min-height: 20vh;

    header {
      background: $white;
      color: $black;
    }

    h3 {
      padding: $spacing-04;
    }
  }

  &__blog {
    padding: 0 $spacing-04;

    h3 {
      margin-bottom: 0;
      @include typescale-04;
    }

    time {
      display: block;
      margin-bottom: $spacing-03;
      font-size: smaller;
    }

    a {
      display: block;
      margin: 0 $spacing-03;
      padding: $spacing-03 0;
    }

    li:first-child a {
      padding-top: 0;
    }

    li:not(:last-child) a {
      border-bottom: 1px solid $white;
    }
  }
}
