.homepage {
  padding: 2.5vw;
  background-color: $white;
  color: $black;
  @include font-sans;

  h2, h3, h4 {
    margin-top: 0;
  }

  a {
    text-decoration: none;
  }

  ul, ol {
    @include unstyled-list;
  }

  section {
    margin-bottom: $spacing-05;
  }

  .button {
    margin-bottom: 0;
    border-color: $black;
    background-color: $black;
    color: $white;

    &:hover, &:active, &:focus {
      background-color: transparent;
      color: $black;
    }
  }

  .logo {
    height: 30px;
    width: auto;
  }

  .logo path:first-child {
    fill: $white;
  }

  .cc-icon path:last-child,
  .gh-icon path {
    fill: $black;
  }

  &__header {
    margin-bottom: 2.5vw;
    padding: $spacing-05;
    background: $black;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    color: $white;
    text-align: center;
    @include typescale-06;

    h1 {
      margin-bottom: 0;
    }

    @media (min-width: 768px) {
      margin: -2.5vw -2.5vw 2.5vw -2.5vw;
    }
  }

  &__logo {
    margin-bottom: $spacing-04;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__header--bg {
    margin-bottom: $spacing-03;
    padding: $spacing-04;
    background: $red url('../../media/pattern-red.png') repeat;
    color: $white;

    @media (min-width: 768px) {
      margin-left: -2.5vw;
    }

    h2 {
      @include font-serif;
    }
  }

  &__header--line {
    margin-bottom: $spacing-05;
    background: linear-gradient($white 0%, $white 49%, $black 50%, $black 51%, $white 52%, $white 100%);
    text-align: center;

    h2 {
      padding: 0 $spacing-03;
      display: inline-block;
      background: $white;
    }
  }

  &__group {
    margin-bottom: $spacing-06;
    width: 100%;
    min-height: 33vh;
    justify-content: space-between;

    header {
      margin-bottom: $spacing-03;
      background: rgba($light-grey, .75);
      color: $black;

      a {
        color: $black;
      }

      @media (min-width: 768px) {
        margin-left: -2.5vw;
      }
    }

    h3 {
      padding: $spacing-04;
      width: 66.6666%
    }

    h4 {
      @include font-serif;
    }

    &:nth-of-type(odd) {
      @media (min-width: 768px) {
        flex-direction: row-reverse;

        header {
            margin-right: -2.5vw;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__group-label {
    display: block;

    &:hover, &:active, &:focus {
      background-color: $black;
      color: $white;
    }
  }

  &__group-bg {
    min-height: 33vh;
    background-position: center;
    background-size: cover;
  }

  &__blog {

    h3 {
      margin-bottom: 0;
      @include typescale-04;
    }

    time {
      display: block;
      margin-bottom: $spacing-03;
      font-size: smaller;
    }

    a {
      display: block;
      padding: $spacing-03 0;
    }

    li:first-child a {
      padding-top: 0;
    }

    li:not(:last-child) a {
      border-bottom: 1px solid $black;
    }
  }
}
