.infobox {
  padding: $spacing-04;
  margin-bottom: $spacing-04;
  background-color: rgba($light-grey, 0.35);
  @include typescale-06;

  h2 {
    margin-top: 0;
  }

  a {
    text-decoration: none;
  }

  .tag a {
    background-color: rgba($grey, 0.25);
    color: $grey;
  }

  ul:last-child,
  p:last-child {
    margin-bottom: 0;
  }

  &__links {
    margin-top: $spacing-03;
    font-weight: 800;
    @include font-sans;
    color: $black;

    a {
      margin-top: $spacing-03;
      margin-right: $spacing-02;
    }
  }

  &--authors {
    margin-bottom: $spacing-04;
    border-top: 5px solid $red;

    h3 {
      margin-top: 0;
      font-size: 1em;
      font-weight: 800;
      line-height: 1.15;
      @include font-serif;
    }

    article {
      margin-bottom: $spacing-05;

      &:last-child {
        margin-bottom: 0;
      }
    }

    p {
      margin-bottom: $spacing-03;
    }

    svg {
      height: 10px;
      width: auto;
    }
  }
}
