.tags {
  @include unstyled-list($inline: true);
  padding: $spacing-02;
}

.tag a {
  margin: 0 $spacing-03 $spacing-03 0;
  padding: $spacing-02 $spacing-03;
  border-radius: 9999px;
  text-decoration: none;
  @include font-sans;
  @include typescale-06;
}
