<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body class="about">
    <main class="row row--centered">
      <div class="col col--1of2">
        <header>
          <a href="/" class="page-sidebar__home screen-only">
            {% include svg/bookmark-inverted.svg %}
            <span class="sr-only">Return to homepage</span>
          </a>
          <h1>{{ page.title }}</h1>
        </header>

        <article class="page-content">
          {{ page.content | markdownify }}
        </article>
        {% include footer.html %}
      </div>
    </main>
    {% include analytics.html %}
  </body>

</html>
