<!DOCTYPE html>
<html lang="en">
{% include head.html %}
  <body class="homepage">
    <main>
      <!-- Header/About -->
      <header class="homepage__header">
        <div class="row">
          <div class="col col--1of2">
            <a href="https://www.sparcopen.org" target="_blank" rel="noopener" title="SPARC’s website" class="homepage__logo">
              {% include svg/logo.svg %}
            </a>
            <h1>Journal Negotiation <br/>Community of Practice</h1>
          </div>
          <div class="col col--1of2">
            <h2 class="sr-only">About</h2>
            <p class="font-serif">{{ page.about_text }}</p>
            <a href="{{ site.BASE_PATH }}/about" class="button">More about us</a>
          </div>
        </div>
      </header>

      <!-- Working Groups -->
      <section class="row">
        <header class="col homepage__header--line">
          <h2 class="label">By working group</h2>
        </header>

        {% for group in site.working-groups %}
        {% assign current_wg = group.working_group %}
        <article class="row homepage__group">
          <header class="col col--group col--2of3 row">
            <div class="col col--group col--1of2">
              <div class="homepage__group-bg" style="background-image: url('..{{ group.cover_img }}')"></div>
            </div>
            <a href="{{ site.BASE_PATH }}/{{ current_wg | slugify }}" class="col col--group col--1of2 homepage__group-label">
              <h3>{{ current_wg }}</h3>
            </a>
          </header>
          <div class="col col--group col--1of3">
            {% assign all_articles = site.articles | reverse %}
            {% for article in all_articles %}
              {% if article.working_group contains current_wg %}
              <a href="{{ site.BASE_PATH }}/articles/{{ article.slug }}" class="homepage__group-latest">
                <p class="label">
                  <small>
                    Latest published on
                    <time datetime="{{ article.date | date: '%F' }}">
                      {{ article.date | date: "%b %e, %Y" }}
                    </time>
                  </small>
                </p>
                <h4>{{ article.title }}</h4>
                {% if article.authors or article.author %}
                <p>
                  <small>
                  <em class="font-serif">By</em>
                  {% if article.authors %}
                    {% for author in article.authors %}
                      {% if forloop.last %}
                        {{ author }}
                      {% else %}
                        {{ author }},
                      {% endif %}
                    {% endfor %}
                  {% elsif article.author %}
                    {{ article.author }}
                  {% endif %}
                  </small>
                </p>
                {% endif %}
              </a>
              {% break %}
              {% endif %}
            {% endfor %}
          </div>
        </article>
        {% endfor %}
      </section>

      <!-- Topics/Tags-->
      <section class="row row--centered">
        <header class="col homepage__header--line">
          <h2 class="label">By topic</h2>
        </header>
        <ul class="tags">
          {% for tag in site.topics %}
          <li class="tag">
            <a href="{{ site.BASE_PATH }}{{ tag.url | remove: '.html' }}">{{ tag.topic }}</a>
          </li>
          {% endfor %}
        </ul>
      </section>

      <!-- Recent Analysis -->
      {% if site.blog %}
      {% assign posts = site.blog | reverse %}
      <section class="row">
        <header class="col col--1of2 homepage__header--bg">
          <h2>Recent analysis</h2>
          <p>{{ page.blog_text }}</p>
          <a href="{{ site.BASE_PATH }}/blog" class="button">See the blog</a>
        </header>
        <div class="col col--1of2">
          <ol class="homepage__blog">
            {% for post in posts limit:4 %}
            <li>
              <a href="{{ site.BASE_PATH }}{{ post.url | remove: '.html' }}">
                <article>
                  <time datetime="{{ post.date | date: '%F' }}" class="label">{{ post.date | date: "%b %e, %Y" }}</time>
                  <h3 class="font-serif">{{ post.title }}</h3>
                </article>
              </a>
            </li>
            {% endfor %}
          </ol>
        </div>
      </section>
      {% endif %}
    </main>

    <footer class="row">
      <div class="col col--1of2">
        <a href="https://creativecommons.org/licenses/by/2.0/" target="_blank" rel="noopener" style="display: inline-block;">
          {% include svg/cc.svg %}
          {% include svg/by.svg %}
        </a>
        {% include svg/github.svg %}
      </div>
      <div class="col col--1of2" style="text-align: right;">
        <a href="https://www.sparcopen.org" target="_blank" rel="noopener" title="SPARC’s website" style="display: block;">
          {% include svg/logo.svg %}
        </a>
      </div>
    </footer>
    {% include analytics.html %}

    <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
</script>
  </body>
</html>
