<!DOCTYPE html>
<html lang="en">
{% include head.html %}
  <body class="homepage">

    <header class="homepage__header">
      <a href="https://www.sparcopen.org" target="_blank" rel="noopener" title="SPARC’s website" style="display: block;">
        {% include svg/logo.svg %}
      </a>
      <h1>&mdash; Negotiations</h1>
    </header>

    <main>
      <section class="row">
        <header class="col col--1of2 homepage__header--bg">
          <h2>About</h2>
        </header>
        <div class="col col--1of2">
          <p>{{ page.about_text }}</p>
          <a href="" class="button">More about us</a>
        </div>
      </section>

      <section class="row">
        <header class="col homepage__header--line">
          <h2 class="label">By working group</h2>
        </header>

        {% for item in site.data.nav.items %}
          {% if item.working_group %}
            <a href="{{ site.baseurl }}{{ item.link }}" style="display: block;">
              <article class="row homepage__group">
                <header class="col col--group col--2of3 row">
                  <h3 class="col col--group col--1of2">{{ item.name }}</h3>
                  <img src="../media/wg/{{ item.cover_img }}" alt="" class="col col--group col--1of2"/>
                </header>
                <div class="col col--group col--1of3">
                  <h4>Ac dui amet, id aenean vel, dolor augue. Nascetur id nec velit.</h4>
                  <p>By Sian Brannon, Evelyn Bruneau, Carrie Nelson, Caitlin Carter</p>
                </div>
              </article>
            </a>
          {% endif %}
        {% endfor %}
      </section>

      <section class="row row--centered">
        <header class="col homepage__header--line">
          <h2 class="label">By topic</h2>
        </header>
        <ul class="tags">
          <li class="tag">
            <a href="">Terms & conditions</a>
          </li>

          <li class="tag">
            <a href="">Market consolidation</a>
          </li>

          <li class="tag">
            <a href="">Responsible analytics</a>
          </li>

          <li class="tag">
            <a href="">Data management</a>
          </li>
        </ul>
      </section>

      <section class="row">
        <header class="col col--1of2 homepage__header--bg">
          <h2>Recent analysis</h2>
          <p>{{ page.blog_text }}</p>
          <a href="" class="button">See the blog</a>
        </header>
        <div class="col col--1of2">
          <ol class="homepage__blog">
            <li>
              <a href="">
                <article>
                  <time datetime="2020-10-12">Oct 12, 2020</time>
                  <h3>Ac dui amet, id aenean vel, dolor augue. Nascetur id nec velit.</h3>
                </article>
              </a>
            </li>
            <li>
              <a href="">
                <article>
                  <time datetime="2020-10-12">Oct 12, 2020</time>
                  <h3>Adipiscing ultricies erat turpis adipiscing mi augue id. Amet.</h3>
                </article>
              </a>
            </li>
            <li>
              <a href="">
                <article>
                  <time datetime="2020-10-12">Oct 12, 2020</time>
                  <h3>Turpis viverra amet consequat faucibus suspendisse amet.</h3>
                </article>
              </a>
            </li>
            <li>
              <a href="">
                <article>
                  <time datetime="2020-10-12">Oct 12, 2020</time>
                  <h3>Malesuada nisl id aliquet euismod lobortis sagittis, tellus. </h3>
                </article>
              </a>
            </li>
          </ol>
        </div>
      </section>
    </main>

    <footer class="row">
      <div class="col col--1of2">
        <a href="https://creativecommons.org/licenses/by/2.0/" target="_blank" rel="noopener" style="display: inline-block;">
          {% include svg/cc.svg %}
          {% include svg/by.svg %}
        </a>
        {% include svg/github.svg %}
      </div>
      <div class="col col--1of2" style="text-align: right;">
        <a href="https://www.sparcopen.org" target="_blank" rel="noopener" title="SPARC’s website" style="display: block;">
          {% include svg/logo.svg %}
        </a>
      </div>
    </footer>
    {% include analytics.html %}

    <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
</script>
  </body>
</html>
