<!DOCTYPE html>
<html lang="en">
{% include head.html %}
  <body class="homepage">

    <header class="homepage__header">
      <a href="https://www.sparcopen.org" target="_blank" rel="noopener" title="SPARC’s website" class="homepage__logo">
        {% include svg/logo.svg %}
      </a>
      <h1>Negotiations</h1>
    </header>

    <main>
      <section class="row">
        <header class="col col--1of2 homepage__header--bg">
          <h2>About</h2>
        </header>
        <div class="col col--1of2">
          <p>{{ page.about_text }}</p>
          <a href="{{ site.BASE_PATH }}/about" class="button">More about us</a>
        </div>
      </section>

      <section class="row">
        <header class="col homepage__header--line">
          <h2 class="label">By working group</h2>
        </header>

        {% for item in site.data.nav.items %}
          {% if item.working_group %}
            <article class="row homepage__group">
              <header class="col col--group col--2of3 row">
                <a href="{{ site.BASE_PATH }}/{{ item.name }}" class="col col--group col--1of2" style="display: block;">
                  <h3>{{ item.label }}</h3>
                </a>
                  <img src="../media/wg/{{ item.cover_img }}" alt="" class="col col--group col--1of2"/>
              </header>
              <div class="col col--group col--1of3">
                {% for post in site[item.name] limit:1 %}
                <a href="{{ site.BASE_PATH }}/{{ item.name }}/{{ post.slug }}" style="display: block;">
                  <p class="label">
                    <time datetime="{{ post.date | date: '%F' }}">
                      {{ post.date | date: "%b %e, %Y" }}
                    </time>
                  </p>
                  <h4>{{ post.title }}</h4>
                  {% if post.authors %}
                  <p class="post__summary">
                    <small>
                      <em class="font-serif">By</em>
                      {% for author in post.authors %}
                        {% if forloop.last %}
                          {{ author }}
                        {% else %}
                          {{ author }},
                        {% endif %}
                      {% endfor %}
                    </small>
                  </p>
                  {% endif %}
                </a>
                {% endfor %}
              </div>
            </article>
          {% endif %}
        {% endfor %}
      </section>

      <section class="row row--centered">
        <header class="col homepage__header--line">
          <h2 class="label">By topic</h2>
        </header>
        <ul class="tags">
          {% for tag in site.topics %}
          <li class="tag">
            <a href="">{{ tag.topic }}</a>
          </li>
          {% endfor %}
        </ul>
      </section>

      {% if site.blog %}
      <section class="row">
        <header class="col col--1of2 homepage__header--bg">
          <h2>Recent analysis</h2>
          <p>{{ page.blog_text }}</p>
          <a href="{{ site.BASE_PATH }}/blog" class="button">See the blog</a>
        </header>
        <div class="col col--1of2">
          <ol class="homepage__blog">
            {% for post in site.blog limit:4 %}
            <li>
              <a href="{{ site.BASE_PATH }}/{{ post.url }}" class="label">
                <article>
                  <time datetime="{{ post.date | date: '%F' }}">{{ post.date | date: "%b %e, %Y" }}</time>
                  <h3>{{ post.title }}</h3>
                </article>
              </a>
            </li>
            {% endfor %}
          </ol>
        </div>
      </section>
      {% endif %}
    </main>

    <footer class="row">
      <div class="col col--1of2">
        <a href="https://creativecommons.org/licenses/by/2.0/" target="_blank" rel="noopener" style="display: inline-block;">
          {% include svg/cc.svg %}
          {% include svg/by.svg %}
        </a>
        {% include svg/github.svg %}
      </div>
      <div class="col col--1of2" style="text-align: right;">
        <a href="https://www.sparcopen.org" target="_blank" rel="noopener" title="SPARC’s website" style="display: block;">
          {% include svg/logo.svg %}
        </a>
      </div>
    </footer>
    {% include analytics.html %}

    <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
</script>
  </body>
</html>
