<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="post">
    <main class="row">
      <header class="col col--1of3 page-sidebar">
        <a href="/#main" class="page-sidebar__home screen-only">
          {% include svg/bookmark.svg %}
          <span class="sr-only">Return to homepage</span>
        </a>
        <p class="label">
          <time datetime="{{ page.date | date: '%F' }}">
            Published {{ page.date | date: "%b %e, %Y" }}
          </time>
        </p>
        <h1>{{ page.title }}</h1>
        <p>
          <small class="font-sans">From the
          <a href="{{ site.BASE_PATH }}/{{ page.collection }}">{% include wg_full_name.html %}</a>
          working group</small>
        </p>
        {% if page.authors or page.author %}
        <p class="font-sans">
          <small>
            <em class="font-serif">By</em>
            {% if page.authors %}
              {% for author in page.authors %}
                {% if forloop.last %}
                  {{ author }}
                {% else %}
                  {{ author }},
                {% endif %}
              {% endfor %}
            {% elsif page.author %}
              {{ page.author }}
            {% endif %}
          </small>
        </p>
        {% endif %}
      </header>

      <div class="col col--3of6 page-sidebar-content">
        {% if page.collection == "members" %}
        {% include members-box.html %}
        {% endif %}

        <article class="page-content">
          {{ page.content | markdownify }}
        </article>

        {% include pagination.html %}
      </div>

      <aside class="col col--1of6 page-sidebar-aside">
        <p class="font-sans">
          <small>
          {% assign words = page.content | number_of_words %}
          {% if words < 360 %}
            1 min read
          {% else %}
            {{ words | divided_by:150 }} mins read
          {% endif %}
          </small>
        </p>

        <p class="button-group">
          {% if page.pdf %}
            <a href="{{ page.pdf }}" class="button" download>Download</a>
          {% else %}
          <button id="printButton" class="button" onClick="window.print()">Print</button>
          {% endif %}

          {% if site.url contains "members.infrastructure.sparcopen.org" %}
          <!-- Not site button on members to avoid confusion -->
          {% else %}
          <a href="#citationContent" class="button accordion-toggle">Cite</a>
          {% endif %}
        </p>


        {% include citation.html class="accordion__content" id="citationContent"%}

        {% if page.topics.size > 0 %}
        <h2>Related</h2>
        <ul class="tags">
          {% for tag in page.topics %}
          <li class="tag"><a href="../{{ tag }}">{{ tag }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}

      </aside>

      <div class="col col--3of6 page-sidebar-footer">
        {% include footer.html %}
      </div>
    </main>
    {% include analytics.html %}
  </body>

</html>
