<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="post{% if page.full_page == true %} full-page{% endif %}">
    <main class="row">
      <header class="col page-header">
        <a href="/" class="page-header__home screen-only">
          {% include svg/bookmark.svg %}
          <span class="sr-only">Return to homepage</span>
        </a>
        <p class="label">
          <time datetime="{{ page.date | date: '%F' }}">
            Published {{ page.date | date: "%b %e, %Y" }}
          </time>
        </p>
        <h1>
          {{ page.title }}{% if page.full_page == true %}
          <a href="#content" style="text-decoration: none;"><span class="sr-only">Scroll to content</span>&darr;</a>{% endif %}
        </h1>
        {% if page.authors or page.author %}
        <p class="font-sans">
          <small>
            <em class="font-serif">By</em>
            {% if page.authors %}
              {% for author in page.authors %}
                {% if forloop.last %}
                  {{ author }}
                {% else %}
                  {{ author }},
                {% endif %}
              {% endfor %}
            {% elsif page.author %}
              {{ page.author }}
            {% endif %}
          </small>
        </p>
        {% endif %}
      </header>

      <aside class="col{% if page.full_page == true %} full-page__aside{% else %} col--1of3{% endif %}">
        {% if page.full_page != true %}<div class="sticky-sidebar">{% endif %}
          {% comment %}
          <p class="button-group">
            <a href="#citationContent" class="button accordion-toggle">Cite</a>
          </p>
          {% include citation.html class="accordion__content" id="citationContent"%}
          {% endcomment %}

          <p>
            From the
            <a href="{{ site.BASE_PATH }}/{{ page.collection }}">{%- include wg_full_name.html -%}</a>
            working group<br/>
            <small>
              {% include post-readtime.html %}
            </small>
          </p>

          {% include tags.html %}

          <p class="desktop-only">
            <button id="printButton" class="button" onClick="window.print()">Print</button>
          </p>
        {% if page.full_page != true %}</div>{% endif %}
      </aside>

      <div class="col {% if page.full_page == true %}full-page__content{% else %}col--3of6{% endif %}">

        <article class="page-content" id="content">
          {{ page.content | markdownify }}
        </article>

        {% include authors-box.html %}

        {% include pagination.html %}
      </div>
    </main>
    {% include footer.html %}
    {% include analytics.html %}
  </body>

</html>
