<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body class="thread">
    <main class="row">
      <header class="col col--1of3 page-sidebar page-sidebar--fixed">
        <a href="/" class="page-sidebar__home screen-only">
          {% include svg/bookmark.svg %}
          <span class="sr-only">Return to homepage</span>
        </a>
        <p class="label">
          {% if page.name == 'blog.md' %}
          Recent Analysis
          {% elsif page.thread_type == 'topic' %}
          Topic
          {% else %}
          Working Group
          {% endif %}
        </p>
        <h1>
          {% if page.thread_type == 'topic' %}
            All articles tagged with <em>{{ page.topic }}</em>
          {% else %}
            {{ page.title }}
          {% endif %}
        </h1>
      </header>

      <div class="col col--2of3 page-sidebar-content">
        <section class="page-content">
          {% if page.content.size > 1 %}
          <div class="row">
            <div class="col col--2of3 infobox">
              {{ page.content | markdownify }}
            </div>
            <div class="col col--1of3 no-padding">
              <div style="background-image: url('{{ page.cover_img }}'); background-size: cover; background-position: center; height: 100%;"></div>
            </div>
          </div>
          {% endif %}

          <h2>Contents</h2>
          {% if page.pdf %}
          <a href="{{ page.pdf }}" class="button button--cta" download>
            Download
          </a>
          {% endif %}

          <ul class="toc toc--with-feature col--group">
            {% comment %}Display threads aggregating posts with the same tag / topic{% endcomment %}
            {% if page.thread_type == "topic" %}
              {% for collection in site.collections %}
                {% assign thread = collection.relative_directory | remove: "_" %}
                {% if thread != 'authors' and thread != 'blog' and thread != 'posts' %}
                  {% assign posts = site[thread] %}
                  {% assign topic_thread = page.topic %}
                  {% for post in posts %}
                    {% if post.topics contains topic_thread %}
                      {% include thread-toc.html %}
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %}

            {% comment %}All other types of posts{% endcomment %}
            {% else %}
              {% assign thread = page.url | remove: "/" | remove: ".html" %}
              {% assign posts = site[thread] | reverse %}
              {% for post in posts %}
                {% include thread-toc.html %}
              {% endfor %}
            {% endif %}
          </ul>
        </section>

        {% include footer.html %}
      </div>

    </main>
  {% include analytics.html %}
  </body>

</html>
