.page-header {
  padding-bottom: $spacing-03;
  margin-bottom: $spacing-04;
  z-index: 1;
  background: $black;
  color: $white;
  font-size: 18px;

  a {
    color: $white;
  }

  &__home {
    display: block;
    margin-bottom: $spacing-04;

    svg {
      fill: transparent;
      transition: fill 250ms ease;

      &:hover, &:focus, &:active {
        fill: $white;
      }
    }
  }

  &--fixed {
    @media (min-width: 768px) {
      width: 33.3333333%;
      min-height: 100vh;
    }

    @media (min-width: 1200px) {
      position: fixed;
      left: 0;
    }
  }
}

.page-header-content {
  @media (min-width: 1200px) {
    margin-left: 33.3333333%;
  }

  &__bleed {
    @media (min-width: 768px) {
      margin-right: -16.6666667%;
    }
  }
}

.page-header-aside {
  @include typescale-06;

  @media (min-width: 768px) {
    width: 33.3333333%;
    min-height: 100vh;
  }

  @media (min-width: 1200px) {
    position: fixed;
    left: 0;
  }

  h2 {
    margin-top: 0;
  }

  .tags {
    margin-bottom: $spacing-03;
  }

  @media (min-width: 768px) {
    margin: $spacing-05 0;
  }
}

.page-header-footer {
  @media (min-width: 768px) {
    margin-left: 33.3333333%;
  }
}
