.page-header {
  padding-bottom: $spacing-03;
  margin-bottom: $spacing-04;
  z-index: 1;
  background: $black;
  color: $white;
  font-size: 18px;

  a {
    color: $white;
  }

  &__home {
    display: block;
    margin-bottom: $spacing-04;

    svg {
      fill: transparent;
      transition: fill 250ms ease;

      &:hover, &:focus, &:active {
        fill: $white;

        path:not(:first-child) {
          fill: $black;
        }
      }
    }
  }
}
